################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InterviewDemo/InterviewDemo/obj
/InterviewDemo/InterviewDemo/bin/Debug/net6.0
/InterviewDemo/.vs/InterviewDemo
/InterviewDemo/.vs/ProjectEvaluation
/InterviewDemo/.vs

